# Examples of Data Distributions

In [120]:
import pandas as pd
import numpy as np


raw_data = pd.read_json('train.json')
print(raw_data.columns)

Index([u'bathrooms', u'bedrooms', u'building_id', u'created', u'description',
       u'display_address', u'features', u'interest_level', u'latitude',
       u'listing_id', u'longitude', u'manager_id', u'photos', u'price',
       u'street_address'],
      dtype='object')

In [95]:
raw_data.index = list(range(1,49353))
raw_data.sort_index().head(2)

,bathrooms,bedrooms,building_id,created,description,display_address,features,interest_level,latitude,listing_id,longitude,manager_id,photos,price,street_address
1,1.5,3,53a5b119ba8f7b61d4e010512e0dfc85,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,[],medium,40.7145,7211212,-73.9425,5ba989232d0489da1b5f2c45f6688adc,[https://photos.renthop.com/2/7211212_1ed4542e...,3000,792 Metropolitan Avenue
2,1.0,2,c5c8a357cba207596b04d1afd1e4f130,2016-06-12 12:19:27,,Columbus Avenue,"[Doorman, Elevator, Fitness Center, Cats Allow...",low,40.7947,7150865,-73.9667,7533621a882f71e25173b27e3139d83d,[https://photos.renthop.com/2/7150865_be3306c5...,5465,808 Columbus Avenue

In [108]:
raw_data[50:53]

,bathrooms,bedrooms,building_id,created,description,display_address,features,interest_level,latitude,listing_id,longitude,manager_id,photos,price,street_address
51,1.0,1,8a555803ffb2c7f5acb3c27bd46524ff,2016-04-21 06:33:48,"Rego Park 1bed featuring nice kitchen, good cl...",Boothe St.,"[Elevator, Pre-War, Laundry in Building]",low,40.7263,6908135,-73.8573,8cf9abc6cca9aefe093ce533a05001cb,[https://photos.renthop.com/2/6908135_2fdbce9c...,1750,65-84 Boothe St.
52,1.0,1,7f36f0677bd92534e122b99839c948c4,2016-04-30 01:22:06,Apartment for rent in Rego Park 11374 SUBJECT...,9609 66th Avenue,[elevator],medium,40.7267,6944369,-73.8569,e6472c7237327dd3903b3d6f6a94515a,[https://photos.renthop.com/2/6944369_e207e8b1...,1650,9609 66th Avenue
53,1.0,0,14a428c84cfea2a14deb1ccf7ac3d2ed,2016-04-12 06:10:58,Located in a beautiful and classic pre-war bui...,E 88 St.,"[Doorman, Elevator, Laundry in Building, Laund...",low,40.7817,6861960,-73.9573,2ce4ad2a77bc8190427196ea1e8cfe4e,[https://photos.renthop.com/2/6861960_2521d86d...,3500,60 E 88 St.

In [67]:
X = raw_data[['bathrooms', 'bedrooms', 'latitude','longitude','price','interest_level']]
X.iloc[1]

bathrooms               1
bedrooms                2
latitude          40.7947
longitude        -73.9667
price                5465
interest_level        low
Name: 7150865, dtype: object

In [68]:
X.iloc[1][4]

5465

In [37]:
from scipy import spatial

def ComputeDistance(a, b):
    bathroomsA = a[0]
    bathroomsB = b[0]
    bathroomDistance = abs(bathroomsA- bathroomsB)
    bedroomsA = a[1]
    bedroomsB = b[1]
    bedroomDistance = abs(bedroomsA - bedroomsB)
    latitudeA = a[2]
    latitudeB = b[2]
    latitudeDistance = spatial.distance.cosine(latitudeA, latitudeB)
    longitudeA = a[3]
    longitudeB = b[3]
    longitudeDistance = spatial.distance.cosine(longitudeA, longitudeB)
    return bathroomDistance + bedroomDistance + latitudeDistance + longitudeDistance
    
ComputeDistance(X.iloc[1], X.iloc[160])

1.0

In [100]:
print X.iloc[1]
print X.iloc[160]

bathrooms               1
bedrooms                2
latitude          40.7947
longitude        -73.9667
price                5465
interest_level        low
Name: 7150865, dtype: object
bathrooms               2
bedrooms                2
latitude          40.7634
longitude        -73.9596
price                5200
interest_level        low
Name: 6900832, dtype: object

In [98]:
dist = ComputeDistance(X.iloc[2], X.iloc[1])
print dist

1.0

In [ ]:
import operator


def getNeighbors(listingID, K):
    distances = []
    i = 1 
    for i in range (1,49353):
        if (i != listingID):
            dist = ComputeDistance(X.iloc[listingID], X.iloc[i])
            distances.append((i, dist))
            i=i+1
    distances.sort(key=operator.itemgetter(1))
    print distances
    neighbors = []
    
    for x in range(K):
         neighbors.append(distances.iloc[x][0])
    return neighbors

K = 10
avgRating = 0
neighbors = getNeighbors(2, K)
print "good till here"
for neighbor in neighbors:
    avgPrice += X.iloc[neighbor][4]
    print X.iloc[neighbor][0] + " " + str(X.iloc[neighbor][4])
    
avgPrice /= float(K)